<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299108856509-ngsm19vc4m5icaonss444torbfh11mvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299108856509-ngsm19vc4m5icaonss444torbfh11mvd</string>
	<key>API_KEY</key>
	<string>AIzaSyBxZPSfy1IwRR6gwdtADVn54ynXsbM7QB0</string>
	<key>GCM_SENDER_ID</key>
	<string>299108856509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.MaYunrongFinalProject</string>
	<key>PROJECT_ID</key>
	<string>itp342finalproject-a4fc5</string>
	<key>STORAGE_BUCKET</key>
	<string>itp342finalproject-a4fc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299108856509:ios:a3cfddd89b35e10a643dd4</string>
	<key>DATABASE_URL</key>
	<string>https://itp342finalproject-a4fc5-default-rtdb.firebaseio.com</string>
</dict>
</plist>